body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: #6287c7;

}


    .btn {
    cursor: pointer;
    background: black;
    color: white;
}
.link {
    padding: 15px 20px;
    background: #96bdff;
    margin: 0;
    border-radius: 20px;

}

.plan {
    padding: 15px 20px;
    background: #96bdff;
    margin: 0;
    border-radius: 20px;
}


.container {
    max-width: 900px;
    margin: auto;

}

.foto {
    padding: 15px 20px;
    background: #96bdff;
    margin: 0;
    border-radius: 20px;
}

.istory {
    background: #96bdff;
    border-radius: 20px;
    padding: 15px 20px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
   
}

.puti {
    background: #96bdff;
    border-radius: 20px;
    padding: 15px 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}